{% extends 'base.html' %}

{% block title %}로그인{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div id="banner">
    <div id="bannerBox">
        <h1>로그인 / 회원가입</h1>
        <h2>독립 체크리스트부터, 생활 행정가이드까지 엠브온이 당신의 새출발을 도와드릴게요</h2>
    </div>
</div>

<div id="container">
    <div id="loginContainer"> 
        <div id="logintext">로그인</div>

        <div id="emailbox">
            <div id="emailtext">이메일</div>
            <input id="emailinput" type="text" placeholder="example@logo.com" />
        </div>

        <div id="keybox">
            <div id="keytext">비밀번호</div>
            <input id="keyinput" type="text" placeholder="example1234*" />
        </div>

        <div id="keyfindbox">
            <div id="keyfind">비밀번호 찾기</div>
            <img src="{% static 'img/keyfind.svg' %}" alt="비밀번호 찾기 아이콘">
        </div>

        <div id="loginbtnbox">
            <a href="/user/templates/signup.html" id="loginbtn">
                <img src="{% static 'img/kakaologo.svg' %}" id="kakaologo" alt="카카오 로고">
                카카오로 시작하기
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
