{% load static %}
{% extends "base.html" %}
    
{% block title %}글보기{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">
        <script src="{% static 'js/detail.js' %}"></script>
    </head>

    <body>
        <div id="banner">
            <div id="bannerBox">
                <h1>글쓰기</h1>
                <h2>질문부터 정보 공유까지, 사람들과 자유롭게 의견을 나눠보세요</h2>
            </div>
        </div>

        <div id="container">
            <aside>
                <div id="sideMenu">
                    <p id="sideMenuTitle">커뮤니티</p>
                    <div id="sideMenuContentBox">
                        <p id="sideMenuContentStyle2">구비템 공유 게시판</p>
                        <p id="sideMenuContentStyle2">입주민 실전팁 게시판</p>
                        <p id="sideMenuContentStyle1">글쓰기</p>
                    </div>
                </div>
            </aside>
            <section>
                <div id="postTopBox">
                    <div id="postHeader">
                        <div id="categoryQ">질문해요</div>
                        <p id="postTitle">Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div id="postInfoBox">
                        <div id="nameDateBox">
                            <p id="name">홍길동</p>
                            <p id="date">2025년 7월 12일 15:30 작성</p>
                        </div>
                        <div id="likeBtn">
                            <img src="{% 'img/Vector.svg' %}" id="likeIcon" />
                            <p id="likeCount">0</p>
                            <input id="btnPostGood" type="button"/>
                        </div>
                    </div>
                </div>
                <div id="postEditBox">
                    <p>수정</p>
                </div>
                <div id="postContent">
                    Lorem ipsum dolor sit amet consectetur. Enim facilisis at maecenas volutpat tempor bibendum lectus scelerisque. Quis volutpat mattis sit consectetur molestie. Integer ac vitae vitae lacinia. Quis mauris nullam dui blandit mollis sagittis. Iaculis molestie justo bibendum sit. Cras cras neque erat tempus quisque nulla orci eu vitae. Massa aliquam pharetra dui blandit ornare tortor amet sed non. Lorem ipsum dolor sit amet consectetur. Enim facilisis at maecenas volutpat tempor bibendum lectus scelerisque. Quis volutpat mattis sit consectetur molestie. Integer ac vitae vitae lacinia. Quis mauris nullam dui blandit mollis sagittis. Iaculis molestie justo bibendum sit. Cras cras neque erat tempus quisque nulla orci eu vitae. Massa aliquam pharetra dui blandit ornare tortor amet sed non.
                </div>
                <form>
                    <div id="commentWriteBox">
                        <div id="commentWriteHeader">
                            <p id="commentTitle">댓글</p>
                            <p id="commentCount">2</p>
                        </div>
                        <textarea id="commentInput" placeholder="댓글을 작성해보세요"></textarea>
                    </div>
                </form>
                <div id="commentBox">
                    <div class="comment">
                        <div class="commentHeader">
                            <p class="commentWriter">김슈니</p>
                            <p class="commenttime">5분 전</p>
                        </div>
                        <div class="commentContent">Lorem ipsum dolor sit amet consectetur. Amet aenean semper sollicitudin pretium sit tempor aenean. Lorem ipsum dolor sit amet consectetur. Amet aenean semper sollicitudin pretium sit tempor aenean.</div>  
                        <div class="commentlast">
                            <p class="commentEdit">수정</p>
                            <p class="commentDelete">삭제</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="commentHeader">
                            <p class="commentWriter">박눈송</p>
                            <p class="commenttime">10분 전</p>
                        </div>
                        <div class="commentContent">Lorem ipsum dolor sit amet consectetur. Amet aenean semper sollicitudin pretium sit tempor aenean. Lorem ipsum dolor sit amet consectetur. Amet aenean semper sollicitudin pretium sit tempor aenean.</div>  
                        <div class="commentlast">
                            <p class="commentEdit">수정</p>
                            <p class="commentDelete">삭제</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
{% endblock %}