body {
    margin: 0;
    padding: 0;
    display: flex;
    /* height: 100vh; */
    font-family: Arial, sans-serif;
}

.condition-toggle {
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    box-sizing: border-box;
}

.condition-toggle input[type="checkbox"] {
  display: none;  /* 체크박스를 숨김 */
}

.center{
    display: flex; 
    justify-content: center; 
    text-align:center; 
    align-items: center;
}