{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Emb,on{% endblock %}</title>
  
  {% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  {% endblock %}
</head>
<body>
  <div id="background">

    <!-- ✅ 헤더 -->
    <div id="header">
      <div id="headerBox">
        <div id="logobox">
          <img src="{% static 'img/logo.svg' %}" id=logo />
        </div>
        <div id="selectBox">
          <a href="/" id="home">홈</a>
          <a href="/independa/inde_home" id="plan">독립계획 시작하기</a>
          <a href="/" id="life">생활 시작하기</a>
          <a href="/" id="community">커뮤니티</a>
          <a href="/" id="mypage">마이페이지</a>
          <div id="divider"></div>
          {% if user.is_authenticated %}
            <a href="/user/logout" id="signinup">로그아웃</a>
          {% else %}
            <a href="/user/login" id="signinup">로그인/회원가입</a>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- ✅ 본문 -->
    {% block content %}{% endblock %}

    <!-- ✅ 푸터 -->
    <div id="footer">
      <div id="footerContainer">
        <div id="menuContainer">
          <div id="menu">
            <div class="menuBox">
              <div class="title" id="planStart">독립계획 시작하기</div>
              <div class="item" id="checkList">나만의 체크리스트</div>
              <div class="item" id="calculator">예산 계산기</div>
              <div class="item" id="infra">주변 인프라 미리보기</div>
            </div>

            <div class="menuBox">
              <div class="title" id="lifeStart">생활 시작하기</div>
              <div class="item" id="guide">생활 행정 가이드</div>
              <div class="item" id="info">공공지원 정보</div>
            </div>

            <div class="menuBox">
              <div class="title" id="commu">커뮤니티</div>
              <div class="item" id="tem">구비템 공유 게시판</div>
              <div class="item" id="tip">입주민 실전팁 게시판</div>
            </div>

            <div class="menuBox">
              <div class="title" id="myPage">마이페이지</div>
              <div class="item" id="myList">내 체크리스트</div>
              <div class="item" id="saved">저장한 콘텐츠 모아보기</div>
              <div class="item" id="history">월별 지출 히스토리</div>
              <div class="item" id="edit">정보수정</div>
              <div class="item" id="logout">로그아웃</div>
              <div class="item" id="leave">회원탈퇴</div>
            </div>
          </div>

          <div id="logoBox">
            <div id="logobox">
              <img src="{% static 'img/logo.svg' %}" id=logo />
            </div>
          </div>

          <div id="copyright">© HERETON TEAM 10. All rights reserved. </div>
        </div>
      </div>
    </div>

  </div>

  <script src="{% static 'js/home.js' %}"></script>
  {% block script_extra %}{% endblock %}
</body>
</html>