<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나만의 체크리스트</title>
    <link rel="stylesheet" href="../styles/myChecklist.css">
</head>
<body>
    <div id = background>
        <div id="header">
            <div id="headerBox">
                <img src="../img/logo.png" id=logo /> 
                <div id="selectBox">
                    <div id="home">홈</div> 
                    <div id="plan">독립계획 시작하기</div> 
                    <div id="life">생활 시작하기</div> 
                    <div id="community">커뮤니티</div>
                    <div id="mypage">마이페이지</div>
                    <div id="divider"></div>
                    <div id="signinup">로그인/회원가입</div>
                </div>
            </div>
        </div>
        
        <div id="banner">
            <div id="bannerBox">
                <h1>나만의 체크리스트</h1>
                <h2>Lorem ipsum dolor sit amet consectetur.</h2>
            </div>
        </div>


        <div id="container">
            <aside>
                <div id="sideMenu">
                    <p id="sideMenuTitle">나만의 체크리스트</p>
                    <div id="sideMenuContentBox">
                        <p id="sideMenuContentStyle1">나의 체크리스트</p>
                        <!-- <p id="sideMenuContentStyle2">새로 만들기</p> -->
                    </div>
                </div>
            </aside>
            <section>
                <p id="sectionTitle">김슈니 님의 체크리스트</p>
                <div id="articleBox">
                    <!-- 계약 체크리스트 시작 -->
                    <article id="checklist1">
                        <div id="checklistHeader">
                            <div id="checklistHeaderBox">
                                <p> </p>
                                <p>계약</p>
                                <p>></p>
                            </div>
                        </div>
                        <div id="checklistContentBox">
                            <div id="contractReady">
                                <div class="contractTitle">계약 준비</div>
                                <div class="contractContent">
                                    <div class="toggle">
                                        <div class="toggleBox">
                                            <p class="toggleTitle">예산 설정하기</p>
                                            <p class="toggleIcon">></p>
                                        </div>
                                        <div id="toggleContent1">
                                            <div class="toggleContent1Box">
                                                <div class="toggleContent1Title">월세</div>
                                                <div class="toggleContent1Content">50 ~ 60 만원</div>
                                            </div>
                                            <div class="toggleContent1Box">
                                                <div class="toggleContent1Title">보증금</div>
                                                <div class="toggleContent1Content">100 ~ 200 만원</div>
                                            </div>
                                            <div class="toggleContent1Box">
                                                <div class="toggleContent1Title">관리비</div>
                                                <div class="toggleContent1Content">10 ~ 20 만원</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toggle">
                                        <div class="toggleBox">
                                            <p class="toggleTitle">독립 지역 정하기</p>
                                            <p class="toggleIcon">></p>
                                        </div>
                                        <div id="toggleContent2">
                                            <div id="inputRegionBox">
                                                <div class="inputRegion"></div>
                                                <div class="inputRegion"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toggle">
                                        <div class="toggleBox">
                                            <p class="toggleTitle">원하는 지역의 부동산 알아보기</p>
                                            <p class="toggleIcon">></p>
                                        </div>
                                        <div id="toggleContent3"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="contractBefore">
                                <div class="contractTitle">계약 전</div>
                                <div class="contractContent">
                                    <div class="toggle">
                                        <div class="toggleBox">
                                            <p class="toggleTitle">등기부등본 확인하기</p>
                                            <p class="toggleIcon">></p>
                                        </div>
                                        <div id="toggleContent4">
                                            <div class="toggleContent4Content">
                                                <div class="toggleContent4Box">
                                                    <div class="fakeCheckBox"></div>
                                                    <input type="checkbox" class="toggleContent4Checkbox">
                                                    <p class="checkboxContent">집주인 신원 및 소유권 확인하기</p>
                                                </div>
                                                <div class="toggleContent4Box">
                                                    <div class="fakeCheckBox"></div>
                                                    <input type="checkbox" class="toggleContent4Checkbox">
                                                    <p class="checkboxContent">선순위 채권 (근저당) 유무 확인하기</p>
                                                </div>
                                                <div class="toggleContent4Box">
                                                    <div class="fakeCheckBox"></div>
                                                    <input type="checkbox" class="toggleContent4Checkbox">
                                                    <p class="checkboxContent">위법 건축물 여부 확인하기</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toggle">
                                        <div class="toggleBox">
                                            <p class="toggleTitle">주변 환경 확인하기</p>
                                            <p class="toggleIcon">></p>
                                        </div>
                                        <div id="toggleContent5"></div>
                                    </div>
                                    <div class="toggle">
                                        <div class="toggleBox">
                                            <p class="toggleTitle">여성 전용 공간 확인하기</p>
                                            <p class="toggleIcon">></p>
                                        </div>
                                        <div id="toggleContent6"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="contractWrite">
                                <div class="contractTitle">계약서 작성</div>
                                <div class="contractContent">
                                    <div class="contractWriteBox">
                                        <div class="fakeCheckBox"></div>
                                        <input type="checkbox" class="contractWriteCheckbox">
                                        <p class="checkboxContent">계약서 작성하기</p>
                                    </div>
                                    <div class="contractWriteBox">
                                        <div class="fakeCheckBox"></div>
                                        <input type="checkbox" class="contractWriteCheckbox">
                                        <p class="checkboxContent">계약서 사본 보관하기</p>
                                    </div>
                                    <div class="contractWriteBox">
                                        <div class="fakeCheckBox"></div>
                                        <input type="checkbox" class="contractWriteCheckbox">
                                        <p class="checkboxContent">계약금 및 보증금 이체하기</p>
                                    </div>
                                    <div class="contractWriteBox">
                                        <div class="fakeCheckBox"></div>
                                        <input type="checkbox" class="contractWriteCheckbox">
                                        <p class="checkboxContent">계약관련 비용 이체 영수증 보관하기</p>
                                    </div>
                                    <div class="contractWriteBox">
                                        <div class="fakeCheckBox"></div>
                                        <input type="checkbox" class="contractWriteCheckbox">
                                        <p class="checkboxContent">전입신고 하기</p>
                                    </div>
                                    <div class="contractWriteBox">
                                        <div class="fakeCheckBox"></div>
                                        <input type="checkbox" class="contractWriteCheckbox">
                                        <p class="checkboxContent">입주 확정일자 받기</p>
                                    </div>
                                    <div class="contractWriteBox">
                                        <div class="fakeCheckBox"></div>
                                        <input type="checkbox" class="contractWriteCheckbox">
                                        <p class="checkboxContent">주소 이전하기</p>
                                    </div>
                                    <div class="contractWriteBox">
                                        <div class="fakeCheckBox"></div>
                                        <input type="checkbox" class="contractWriteCheckbox">
                                        <p class="checkboxContent">공과금 명의 이전하기</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- 계약 체크리스트 끝 -->
                    <!-- 이사 체크리스트 시작(두번째 장) -->
                    <!-- 이사 체크리스트 끝(두번째 장) -->
                    <!-- 입주 체크리스트 시작(세번째 장) -->
                    <!-- 입주 체크리스트 끝(세번째 장) -->
                    <article id="progressInfoMap">
                        <div id="checklistProgress">
                            <div id="checklistProgressHeader">체크리스트 진행률</div>
                        </div>
                        <div id="profileCard">
                            <div id="profileImg"></div>
                            <div id="profilecontent">
                                <p id="profileName">김슈니</p>
                                <div id="profileInfo">
                                    <div class="profileInfoBox">
                                        <p id="region">독립할 지역</p>
                                        <p id="userRegion">서울시 노원구</p>
                                    </div>
                                    <div class="profileInfoBox">
                                        <p id="budget">최대 예산</p>
                                        <p id="userBudget">월세 최대 60만원<br/>보증금 최대 200만원<br/>관리비 최대 15만원</p>
                                    </div>
                                    <div class="profileInfoBox">
                                        <p id="date">이사 예정일</p>
                                        <p id="userDate">2026년 2월</p>
                                    </div>
                                    <div class="profileInfoBox">
                                        <p id="mate">동거인</p>
                                        <p id="userMate">없음</p>
                                    </div>
                                    <div id="modify">
                                        <p>정보 수정하기 ></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mapView">
                            <div id="mapHeader">
                                <p id="mapHeaderTitle">지도로 미리보기</p>
                                <div id="mapSearch"></div>
                            </div>
                            <div id="map"></div>
                        </div>
                    </article>
                </div>
            </section>
        </div>

        <div id="footer">
            <div id="footerContainer">
                <div id="menuContainer">
                    <div id="menu">
                        <div class="menuBox">
                            <div class="title" id="planStart">독립계획 시작하기</div>
                            <div class="item" id="checkList">나만의 체크리스트</div>
                            <div class="item"  id="calculator">예산 계산기</div>
                            <div class="item"  id="infra">주변 인프라 미리보기</div>
                        </div>

                        <div class="menuBox">
                            <div class="title"  class="title" id="lifeStart">생활 시작하기</div>
                            <div class="item"  id="guide">생활 행정 가이드</div>
                            <div class="item"  id="info">공공지원 정보</div>
                        </div>

                        <div class="menuBox">
                            <div class="title" id="commu">커뮤니티</div>
                            <div class="item" id="tem">구비템 공유 게시판</div>
                            <div class="item" id="tip">입주민 실전팁 게시판</div>
                        </div>

                        <div class="menuBox">
                            <div class="title" id="myPage">마이페이지</div>
                            <div class="item" id="myList">내 체크리스트</div>
                            <div class="item" id="saved">저장한 콘텐츠 모아보기</div>
                            <div class="item" id="history">월별 지출 히스토리</div>
                            <div class="item"  id="edit">정보수정</div>
                            <div class="item"  id="logout">로그아웃</div>
                            <div class="item"  id="leave">회원탈퇴</div>
                        </div>
                    </div>
                    <div id="logoBox">
                            <img src="../img/logo.png" id=footerLogo /> 
                    </div>

                    <div id="copyright">© HERETON TEAM 10. All rights reserved. </div>
                </div>
            </div>
        </div>

        
    </div>
</body>
<script src="../js/myChecklist.js"></script>
</html>